name: build

on: [push, pull_request]

jobs:
  build:
    name: Build
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5

      - name: Cache Dependencies & Build Outputs
        uses: actions/cache@v4
        with:
          path: ~/.cargo
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Check Code Format
        run: cargo fmt --all -- --check
        shell: bash

      - name: Code Lint
        run: cargo clippy --all-targets --all-features -- -D warnings
        shell: bash

      - name: Test --no-default-features
        run: cargo test --no-default-features
        shell: bash

      - name: Test
        run: cargo test --all-features
        shell: bash

  build-no-std:
    name: Build no_std
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5

      - name: Install Rust Toolchain
        run: rustup target add thumbv6m-none-eabi
        shell: bash

      - name: Build
        run: cargo build --no-default-features --target thumbv6m-none-eabi
        shell: bash

  build-no-std-with-serde:
    name: Build no_std, but with `serde` feature enabled
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5

      - name: Install Rust Toolchain
        run: rustup target add thumbv6m-none-eabi
        shell: bash

      - name: Build
        run: cargo build --no-default-features --features serde --target thumbv6m-none-eabi
        shell: bash

  msrv:
    name: MSRV
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5

      - name: Extract MSRV from Cargo.toml
        run: |
          MSRV=$(cargo metadata --format-version 1 --no-deps | jq -r '.packages[] | .rust_version')
          echo "MSRV=$MSRV" >> $GITHUB_ENV

      - run: cargo +"$MSRV" build

  coverage:
    name: Code Coverage
    runs-on: ubuntu-latest
    container:
      image: xd009642/tarpaulin:0.35.0
      options: --security-opt seccomp=unconfined
    steps:
      - name: Checkout Sources
        uses: actions/checkout@v5

      - name: Generate Code Coverage
        run: cargo tarpaulin --all-features --out Xml

      - name: Upload Code Coverage
        uses: codecov/codecov-action@v5
